* {
  font-family: sans-serif;
  color: white;
  margin: 0em;
  padding: 0em;
  /* background-color: black; */
}
.linda_name {
  margin: 10px;
}
h3 {
  padding-left: 35px;
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
  font-size: 20px;
}
.nav-link {
  color: "$gray-700";
}
img {
  padding: 0em;
  margin: 0em;
  max-height: 100%;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: darkgrey;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
@media (max-width: 450px) {
  h3 {
    padding-left: 15px;
  }
  ul {
    padding-right: 20px;
  }
}
@media (max-width: 450px) {
  h3 {
    padding-left: 15px;
  }
  ul {
    text-align: right;
    padding-right: 20px;
  }
}
/*working only in ipad portrait device*/
@media only screen and (width: 768px) and (height: 1024px) and (orientation: portrait) {
  h3 {
    padding-left: 25px;
  }
  ul {
    text-align: right;
    padding-right: 30px;
  }
  li {
    font-size: 20px;
  }
}
/*working only in ipad landscape device*/
@media all and (width: 1024px) and (height: 768px) and (orientation: landscape) {
  h3 {
    padding-left: 25px;
  }
  ul {
    text-align: right;
    padding-right: 20px;
  }
  li {
    font-size: 30px;
  }
}
